<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Movie Database</title>
  <link href='http://fonts.googleapis.com/css?family=Amatic+SC:700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <link rel='stylesheet' href='/stylesheets/main.css'>
</head>
<body>

  <div class="container">
    
    <h1><a href="/">Movie Database App</a></h1>

    <%= yield %>
    
  </div>

</body>