<h2>Edit Video</h2>

<form action="/videos/<%= @video['id'] %>" method="post">
  <p>
    <label for="title">Title</label>
    <input type="text" name="title" value="<%= @video['title'] %>">
  </p>

  <p>
    <label for="description">Description</label>
    <input type="text" name="description" value="<%= @video['description'] %>">
  </p>

  <p>
    <label for="video_url">Video URL</label>
    <input type="text" name="video_url" value="<%= @video['video_id'] %>">
  </p>

  <button>Save changes</button>

</form>